.small-calendar .fc {
  font-size: 12px;
  width: 400px; 
  height: 300px; 
}

.small-calendar .fc-toolbar {
  padding: 0.5rem; 
}

.small-calendar .fc-toolbar-title {
  font-size: 14px; 
}

.small-calendar .fc-daygrid-day {
  padding: 0.2rem; 
  height: 20px; 
}

.small-calendar .fc-daygrid-day-number {
  font-size: 10px; 
}

.small-calendar .fc-scrollgrid {
  max-width: 400px; 
}

  
  