<div class="cards-container">
  <div class="doctor-card">
    <img src="images/Ellipse 2.png" alt="Doctor Image" />
    <h3>გიორგი ხორავა</h3>
    <p>კარდიოლოგი/არითმოლოგი</p>
    <p>⭐⭐⭐⭐</p>
    <button class="appointment-button">მიღებაზე ჩაწერა</button>
    
  </div>
  <div class="doctor-card">
    <img src="images/Ellipse 3 (1).png" alt="Doctor Image" />
    <h3>ნატალია გოგოხია</h3>
    <p>სპეციალობა: ქირურგი</p>
    <p>⭐⭐⭐⭐⭐</p>
    <button class="appointment-button">მიღებაზე ჩაწერა</button>
  </div>
  <div class="doctor-card">
    <img src="images/Ellipse 2 (1).png" alt="Doctor Image" />
    <h3>ანა დვალი</h3>
    <p>სტომატოლოგი</p>
    <p>⭐⭐⭐</p>
    <button class="appointment-button">მიღებაზე ჩაწერა</button>
  </div>
  <div class="doctor-card">
    <img src="images/Ellipse 7 (1).png" alt="Doctor Image" />
    <h3>გიორგი ბატიაშვილი</h3>
    <p>კარდიოლოგი</p>
    <p>შეფასება: ⭐⭐⭐⭐⭐</p>
    <button class="appointment-button">მიღებაზე ჩაწერა</button>
  </div>
  <div class="doctor-card">
    <img src="images/Ellipse 6.png" alt="Doctor Image" />
    <h3>ბარბარე ქორთუა</h3>
    <p>კარდიოქირურგი</p>
    <p>შეფასება: ⭐⭐⭐⭐</p>
    <button class="appointment-button">მიღებაზე ჩაწერა</button>
  </div>
  <div class="doctor-card">
    <img src="images/Ellipse 4 (1).png" alt="Doctor Image" />
    <h3>სოფია გოგიაშვილი</h3>
    <p>თერაპევტი</p>
    <p>შეფასება: ⭐⭐⭐</p>
    <button class="appointment-button">მიღებაზე ჩაწერა</button>
  </div>
</div>


